<% @title = '顧客管理' %>
<h1><%= @title %></h1>

<div class='table-wrapper col-md-8'>
  <div class='links'>
    <%= link_to '新規登録', :new_admins_staff %>
  </div>
  <table class='listing'>
    <tr>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>メールアドレス</th>
      <th>入社日</th>
      <th>退職日</th>
      <th>停止フラグ</th>
      <th>アクション</th>
    </tr>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.family_name %> <%= staff.given_name %></td>
        <td><%= staff.family_name_kana %> <%= staff.given_name_kana %></td>
        <td><%= staff.email %></td>
        <td class='date'><%= staff.start_date.strftime('%Y/%m/%d') %></td>
        <td class='date'><%= staff.end_date&.strftime('%Y/%m/%d') %></td>
        <td class='boolean'>
          <%= staff.suspended? ? raw('&#x2611') : raw('&#x2610') %>
        </td>
        <td class='actions'>
          <%= link_to '編集', [ :edit, :admins, staff ] %> |
          <%= link_to '削除', [ :admins, staff ], method: :delete, data: { confirm: '本当に削除しますか？ ' } %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class='links'>
    <%= link_to '新規登録', :new_admins_staff %>
  </div>
</div>
