<%
  if @staff
    full_name = @staff.family_name + @staff.given_name
    @title = "#{full_name}さんのログイン・ログアウト記録"
  else
    @title = '職員のログイン・ログアウト記録'
  end
%>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "職員一覧", :admins_staffs %>
  </div>

  <table class="listing">
    <tr>
      <% unless @staff %><th>氏名</th><% end %>
      <th>種別</th>
      <th>接続IP</th>
      <th>日時</th>
    </tr>
    <%= render partial: "event_history", collection: @event_histories %>
    <% if @event_histories.empty? %>
      <tr>
        <%= content_tag(:td, "記録がありません", colspan: @staff ? 2 : 3, style: "text-align: center") %>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to "職員一覧", :admins_staffs %>
  </div>
</div>
